Connected Services/ServiceReference1/BridgeCoreSOAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:ns2="http://services.business.soap.bridge.synthesis.com/" name="BridgeCoreSOAPService" targetNamespace="http://services.business.soap.bridge.synthesis.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://services.business.soap.bridge.synthesis.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="execute" type="ns2:execute" />
      <xs:element name="executeResponse" type="ns2:executeResponse" />
      <xs:complexType name="execute">
        <xs:sequence>
          <xs:element minOccurs="0" name="service" type="xs:string" />
          <xs:element minOccurs="0" name="request" type="xs:string" />
          <xs:element minOccurs="0" name="store" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="executeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="execute">
    <wsdl:part name="parameters" element="ns2:execute" />
  </wsdl:message>
  <wsdl:message name="executeResponse">
    <wsdl:part name="parameters" element="ns2:executeResponse" />
  </wsdl:message>
  <wsdl:portType name="BridgeCoreSOAPService">
    <wsdl:operation name="execute">
      <wsdl:input name="execute" message="ns2:execute" />
      <wsdl:output name="executeResponse" message="ns2:executeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BridgeCoreSOAPServiceSoapBinding" type="ns2:BridgeCoreSOAPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="execute">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="execute">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="executeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BridgeCoreSOAPService">
    <wsdl:port name="BridgeCoreSOAPServicePort" binding="ns2:BridgeCoreSOAPServiceSoapBinding">
      <soap:address location="http://200.59.130.99:19380/bridge/services/bridgeCoreSOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>